body{
	font-family: 'Proxima Nova', sans-serif;
	font-weight: 300;
	color:AntiqueWhite;
}

header .row,
footer .row{
	display: flex;
	align-items: center;
}


footer. col-sm-8{
	display: flex;
	justify-content: flex-end;
}

ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}
